---
layout: default
---
<div id="particles-js"></div>

<div id="services" class="container">
  <div class="center"><img class="m-t-100 logo center" src="/assets/img/bunny.svg"/></div>
  <div class="title-box center">
    <transition name="slideupfade">
      <div v-if="!services">
        <h1>kørerkanin</h1>
        <h2 style="margin-top: -20px;">Business Consulting <br class="on-mobile">and Web Development {{ site.baseurl }}</h2>
      </div>
    </transition>
      <div class="m-t-50">
        <button v-if="!services" class="white" @click='toggle()'>Services</button>
        <button v-if="services" class="white" @click='toggle()'>Home</button>
        <i class="fab fa-github"></i>
      </div>
  </div>

  <div class="space" >
    <transition name="bounce">

    <ul id="hexGrid" v-if="services">

      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>

      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>

      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>

      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>

      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>

      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>

      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>

      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>

      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>

    </ul>

  </transition>
  </div>






</div>
