---
---
@font-face {
  font-family: 'Walsheim';
  src: url('assets/fonts/walsheim/GT-Walsheim-Regular.eot'); /* IE9 Compat Modes */
  src: url('assets/fonts/walsheim/GT-Walsheim-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/fonts/walsheim/GT-Walsheim-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('assets/fonts/walsheim/GT-Walsheim-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Walsheim';
  font-weight: bold;
  src: url('assets/fonts/walsheim/GT-Walsheim-Bold.eot'); /* IE9 Compat Modes */
  src: url('assets/fonts/walsheim/GT-Walsheim-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/fonts/walsheim/GT-Walsheim-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('assets/fonts/walsheim/GT-Walsheim-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
}

// IMPORTS

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

html {
	background: white;
  font-size: 18px;
  font-family: $walsheim;
  color: $darkerGray;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Avoid the IE 10-11 `min-height` bug.  */
}
.container {
  margin: 0 auto;
  max-width: 1000px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  flex: 1 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $walsheim;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.5;
  margin: 15px 0;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 86px;
  font-family: $merriweather;
  letter-spacing: 3px;
  @include mobile {
      font-size: 60px;
  }
  @include mobile-small {
      font-size: 50px;
  }
}

h2 {
  font-size: 24px;
  font-weight: normal;
  @include mobile {
      font-size: 20px;
  }
}

h3 {
  font-size: 24px;
  font-weight: bold;
  font-family: $merriweather;
  @include mobile {
      font-size: 20px;
  }
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
  line-height: 1.5em;
}

a {
  color: $accent;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $accent;
  }
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*  start custom CSS */

.m-t-50 {
  margin-top: 50px;
}
.m-t-100 {
  margin-top: 100px;
}
.m-t-150 {
  margin-top: 150px;
}
.p-t-100 {
  padding-top: 100px;
}
.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.full-page {
  min-height: 100vh;
  height: auto;
}

.alt-background {
  background: $accent-grad;
}
.accent {
  color: $accent;
}
.button {
  padding: 10px 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 2px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none !important;
  border: 2px solid $accent;
  color: white;
  background: $accent-grad;
  box-shadow: 0 0 3px 1px rgba(60, 60, 60, 0.2);
  font-size: 16px;
  font-family: $walsheim;
}
.button:hover{
  color: black;
}
.hvr-shutter-out-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  background: $accent-grad;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-shutter-out-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active {
  color: black;
}
.hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
header {
  padding: 10px 20px;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  width: 100%;
  z-index: 50;
}
header > div> div > a {
  line-height: 50px;
  color: $accent;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  padding-bottom: 8px;

  &:before,
	&:after {
		content: '';
		position: absolute;
		bottom: -2px;
		left: 0; right: 0;
		height: 2px;
		background-color: $accent;
	}
	&:before {
		opacity: 0;
		transform: translateY(- $distance);
		transition: transform 0s $easeOutBack, opacity 0s;
	}
	&:after {
		opacity: 0;
		transform: translateY($distance/2);
		transition: transform $duration $easeOutBack, opacity $duration;
	}
	&:hover,
	&:focus {
		&:before,
		&:after {
			opacity: 1;
			transform: translateY(0);
		}
		&:before {
			transition: transform $duration $easeOutBack, opacity $duration;
		}
		&:after {
			transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
		}
	}
}
header > div > div > a:hover {
  color: $accent;
}
header > div > div {
  max-width: 40%;
}
.right-text {
  text-align: right;
  float: right;
}
.left-text {
  text-align: left;
  float: left;
}
.active {
  font-weight: bold;
  border-bottom: 2px solid $accent;
}
.hamburger-on-mobile {
  @include mobile {
    display:none;
  }
}
footer {
  flex-shrink: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  min-height: 50px;
  padding-top:20px;
  padding-bottom: 20px;
  background: $accent-grad;
  width: 100%;
  z-index: 10;
}

.title-box {
  z-index: 10;
  position: relative;
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#particles-js {
  position:absolute;
  width: 100%;
  height: 100vh;
  background-color: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.on-mobile {
  display: none;
  @include mobile {
    display: block;
  }
}
.white {
  color: white;
}
.white:hover {
  color: rgb(205, 205, 205);
}
.logo {
  max-width: 300px;
  width: 100%;
  z-index: 10;
  position: relative;
}
.logo-small {
  width: 30px;
  -moz-transform: scaleX(-1);
       -o-transform: scaleX(-1);
       -webkit-transform: scaleX(-1);
       transform: scaleX(-1);
       filter: FlipH;
       -ms-filter: "FlipH";
}
.space {
  padding-top: $space;
  padding-bottom: $space;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  /* IE 10 */
  display: -ms-grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
}
.flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  @include mobile {
    -ms-flex-direction: column;  /* IE 10 */
    flex-direction: column;
  }

}
.avatar {
  max-width: 300px;
  width: 100%;
  height: 100%;
  max-height: 200px;
}
.space-on-desktop {
  margin-left: $space;
  margin-right: $space;
  margin-top: -2px;
  @include mobile {
    margin-left: auto;
    margin-top: auto;
    margin-right: auto;
  }
}
.italic {
  font-style: italic;
}
.no-margins {
  margin-top: 0;
  margin-bottom: 0;
}
.max-avatar {
  width: calc(100% - 300px);
  @include mobile {
    width: 100%;
  }
}
