---
---
@font-face {
  font-family: 'Walsheim';
  src: url('assets/fonts/walsheim/GT-Walsheim-Regular.eot'); /* IE9 Compat Modes */
  src: url('assets/fonts/walsheim/GT-Walsheim-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/fonts/walsheim/GT-Walsheim-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('assets/fonts/walsheim/GT-Walsheim-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Walsheim';
  font-weight: bold;
  src: url('assets/fonts/walsheim/GT-Walsheim-Bold.eot'); /* IE9 Compat Modes */
  src: url('assets/fonts/walsheim/GT-Walsheim-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/fonts/walsheim/GT-Walsheim-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('assets/fonts/walsheim/GT-Walsheim-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
}

// IMPORTS

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

html,body {
	background: white;
  font-size: 18px;
  font-family: $walsheim;
  color: $darkerGray;
  height: 100%;
}
.container {
  margin: 0 auto;
  max-width: 1000px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $walsheim;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.2;
  margin: 15px 0;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 86px;
  font-family: $merriweather;
  @include mobile {
      font-size: 60px;
  }
  @include mobile-small {
      font-size: 50px;
  }
}

h2 {
  font-size: 24px;
  font-weight: normal;
  @include mobile {
      font-size: 20px;
  }
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $accent;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $accent;
  }
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*  start custom CSS */

.m-t-50 {
  margin-top: 50px;
}
.m-t-100 {
  margin-top: 100px;
}
.m-t-150 {
  margin-top: 150px;
}
.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

button {
  padding: 10px 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 2px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none !important;
  border: 2px solid $accent;
  color: white;
  background: $accent-grad;
  box-shadow: 0 0 3px 1px rgba(60, 60, 60, 0.2);
  font-size: 16px;
  font-family: $walsheim;
}
button:hover{
  color: black;
}
.hvr-shutter-out-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  background: $accent-grad;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-shutter-out-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active {
  color: black;
}
.hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
header {
  padding: 10px 20px;
  height: 70px;
}
header > div > a {
  line-height: 50px;
  color: $accent;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  padding-bottom: 8px;

  &:before,
	&:after {
		content: '';
		position: absolute;
		bottom: -2px;
		left: 0; right: 0;
		height: 2px;
		background-color: $accent;
	}
	&:before {
		opacity: 0;
		transform: translateY(- $distance);
		transition: transform 0s $easeOutBack, opacity 0s;
	}
	&:after {
		opacity: 0;
		transform: translateY($distance/2);
		transition: transform $duration $easeOutBack, opacity $duration;
	}
	&:hover,
	&:focus {
		&:before,
		&:after {
			opacity: 1;
			transform: translateY(0);
		}
		&:before {
			transition: transform $duration $easeOutBack, opacity $duration;
		}
		&:after {
			transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
		}
	}
}
header > div > a:hover {
  color: $accent;
}
header > div {
  max-width: 40%;
}
.right-text {
  text-align: right;
  float: right;
}
.left-text {
  text-align: left;
  float: left;
}
.active {
  font-weight: bold;
  border-bottom: 2px solid $accent;
}
.hamburger-on-mobile {
  @include mobile {
    display:none;
  }
}
footer {
  height: auto;
  min-height: 50px;
  padding-top:20px;
  padding-bottom: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: $accent-grad;
  width: 100%;
  z-index: 10;
}

.title-box {
  z-index: 10;
  position: relative;
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#particles-js {
  position:absolute;
  width: 100%;
  height: calc(100% - 80px);
  background-color: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.on-mobile {
  display: none;
  @include mobile {
    display: block;
  }
}
.white {
  color: white;
}
.white:hover {
  color: rgb(205, 205, 205);
}
.logo {
  max-width: 300px;
  width: 100%;
}
.space {
  padding-top: $space;
  padding-bottom: $space;
}
/* VUE.js transitions */

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.bounce-enter-active {
  animation: bounce-in .5s;
}
.bounce-leave-active {
  animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.slideupfade-enter-active {
  animation: slideupfade .5s;
}
.slideupfade-leave-active {
  animation: slideupfade 0.5s reverse;
}
@keyframes slideupfade {
  100% {
    transform: translatey(0px);
    opacity: 1;
  }
  0% {
    transform: translatey(-100px);
    opacity: 0;
  }
}

#hexGrid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 389px;
  margin: 0 auto;
  overflow: hidden;
  font-size: 15px;
  list-style-type: none;
  z-index: 10;
  position: relative;
}

.hex {
  position: relative;
  visibility:hidden;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
}
.hex::after{
  content:'';
  display:block;
  padding-bottom: 86.602%;  /* =  100 / tan(60) * 1.5 */
}
.hexIn{
  position: absolute;
  width:96%;
  padding-bottom: 110.851%; /* =  width / sin(60) */
  margin:0 2%;
  overflow: hidden;
  visibility: hidden;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
  -webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
      -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
          transform: rotate3d(0,0,1,-60deg) skewY(30deg);
}
.hexIn * {
  position: absolute;
  background: $accent-grad;
  visibility: visible;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
}
.hexLink {
    display:block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    overflow: hidden;
    -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
        -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
            transform: skewY(-30deg) rotate3d(0,0,1,60deg);
}

/*** HEX CONTENT **********************************************************************/
.hex img {
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto;
  -webkit-transform: rotate3d(0,0,0,0deg);
      -ms-transform: rotate3d(0,0,0,0deg);
          transform: rotate3d(0,0,0,0deg);
}

.hex h1, .hex p {
  width: 100%;
  padding: 5%;
  box-sizing:border-box;
  background-color: $accent-transparent;
  font-weight: 300;
  -webkit-transition:  -webkit-transform .2s ease-out, opacity .3s ease-out;
          transition:          transform .2s ease-out, opacity .3s ease-out;
}
.hex h1 {
  bottom: 50%;
  padding-top:50%;
  font-size: 1.5em;
  z-index: 1;
  -webkit-transform:translate3d(0,-100%,0);
      -ms-transform:translate3d(0,-100%,0);
          transform:translate3d(0,-100%,0);
}
.hex h1::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 45%;
  width: 10%;
  text-align: center;
  border-bottom: 1px solid #fff;
}
.hex p {
  top: 50%;
  padding-bottom:50%;
  -webkit-transform:translate3d(0,100%,0);
      -ms-transform:translate3d(0,100%,0);
          transform:translate3d(0,100%,0);
}


/*** HOVER EFFECT  **********************************************************************/
.hexLink:hover h1, .hexLink:focus h1,
.hexLink:hover p, .hexLink:focus p{
  -webkit-transform:translate3d(0,0,0);
      -ms-transform:translate3d(0,0,0);
          transform:translate3d(0,0,0);
}

/*** HEXAGON SIZING AND EVEN ROW INDENTATION *****************************************************************/
@media (min-width:1201px) { /* <- 5-4  hexagons per row */
  #hexGrid{
    padding-bottom: 4.4%
  }
  .hex {
    width: 20%; /* = 100 / 5 */
  }
  .hex:nth-child(9n+6){ /* first hexagon of even rows */
    margin-left:10%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 1200px) and (min-width:901px) { /* <- 4-3  hexagons per row */
  #hexGrid{
    padding-bottom: 5.5%
  }
  .hex {
    width: 25%; /* = 100 / 4 */
  }
  .hex:nth-child(7n+5){ /* first hexagon of even rows */
    margin-left:12.5%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 900px) and (min-width:601px) { /* <- 3-2  hexagons per row */
  #hexGrid{
    padding-bottom: 7.4%
  }
  .hex {
    width: 33.333%; /* = 100 / 3 */
  }
  .hex:nth-child(5n+4){ /* first hexagon of even rows */
    margin-left:16.666%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 600px) { /* <- 2-1  hexagons per row */
  #hexGrid{
    padding-bottom: 11.2%
  }
  .hex {
    width: 50%; /* = 100 / 3 */
  }
  .hex:nth-child(3n+3){ /* first hexagon of even rows */
    margin-left:25%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 400px) {
    #hexGrid {
        font-size: 13px;
    }
}


// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
